extends layout 

block content 
  div(class="container", style='border: 2px solid #001253; width: 450px;')
    h1(style="text-align: center; color: #432C7A")= title 
    br

    if (toShow == null) 
        h2 No instance to delete 
    else 
        - let birdId = toShow._id 
        - let birdName = toShow.birdName
        - let birdWeight = toShow.birdWeight 
        - let birdColor = toShow.birdColor 
        - let actionid = "/resource/bird/" + birdId
        script let actionid = "#{actionid}" 
        div(class='container' style="text-align: center; width: 450px;")
            div(class='row mb-3') 
                div(class='birdAttr col-4') birdId
                div(class='data col-6') #{birdId} 
            div(class='row mb-3') 
                div(class='birdAttr col-4') birdName 
                div(class='data col-6') #{birdName} 
            div(class='row mb-3') 
                div(class='birdAttr col-4') birdWeight
                div(class='data col-6') #{birdWeight} 
            div(class='row mb-3') 
                div(class='birdAttr col-4') birdColor
                div(class='data col-6') #{birdColor} 

            button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
            button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 

  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/bird' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Dont need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/bird' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 